.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  width: 100%;
  background-color: #59ab82;
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  opacity: 0.95;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    
}

.number-choose{
  color:red;
}
.number-choose:hover{
  background-color: #f7cfca !important;
  border-radius: 3px;
}

.ticket{
  width: 25%;
  box-shadow: 4px 4px 6px -3px rgba(0,0,0,0.69);
  border: 1px solid #f7f2f7;
  background-color: white;
  border-radius: 2px;
  text-align: center;
  margin: 20px 10px;
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
}
.numberList{
  display: flex;
  flex-flow:row wrap;
  
}

.number{
  width:25%;
  padding: 4px;

}

.number:hover{
  background-color:#1fc8db;
}

.numberChosenList{
  display: flex;
  flex-flow:row wrap;
  height: 50px;
  align-content: center
  
}
body{
    width: 100%;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    opacity: 0.95;
}

.titleTicket{
  margin-top: 20px;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  color: white;
}

.pickTicket{
  margin-bottom: 50px;
}

.btnCheck{
  outline: none;
  background-color: white;
  color:#095b7a;
  padding:5px;
  border-radius: 3px;
  border:1px solid #f7f2f7;
  font-family: 'Dancing Script', cursive;
  font-size: 15px;
  box-shadow: 4px 4px 6px -3px rgba(0,0,0,0.69);
}

.btnCheck:hover{
  background-color:  #095b7a;
  color:white;
}

.ticketList{
  display: flex;
}

.form-login{
  position: relative;
  width: 40%;
  left: 50%;
  transform: translate(-50%, 0);
}

.resultList{
  display: flex;
  width: 25%;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  left: 50%;
  position: relative;
  transform: translate(-50%, 10px);
}

.numberInResult{
  color: white;
  width: 25%;
  text-align: center;
  padding:3px;
  font-size: 30px;
  margin-top: 70px;

}

.rightNumber{
  color: crimson;
}

@media only screen and (max-width: 600px) {
  .ticket {
    width: 90%;
   
}
}
.number-input{
  display: block;
}

.form-cheat{
  margin: 30px;
    color: white;
}